body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 1rem;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

#playlistSection {
    margin: 1rem;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#downloader {
    margin: 1rem;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}
